@import '../../../../../styles/breakpoints.scss';

.content {
    margin: 24px 16px 0 16px;

    @include tablet-up {
        width: 80%;
        margin: 24px auto 0 auto;
    }

    @include small-desktop-up {
        width: 70%;
    }

    @include large-desktop-up {
        width: 800px;
    }
}
